extends layout

block content
    link(rel='stylesheet' href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css')
    .container-fluid
        form#searchForm(action='javascript:void(0)', onsubmit='return false;')
            .input-group.m-3
                input#searchInput.form-control(type='text', name='query', placeholder='Enter your search query...' oninput='searchCategory()')
                button#searchButton.btn.btn-outline-secondary(type='button') Search
        .row
            //- Item Category
            if category != null
                each cate in category
                    .col-sm-6.col-xl-3
                        .card.overflow-hidden.rounded-2
                            .position-relative
                                a(href='#')
                                    img.card-img-top.rounded-0(src=cate.image alt='...' style='max-width: 100%; height: 180px;')
                                a.bg-primary.rounded-circle.p-2.text-white.d-inline-flex.position-absolute.bottom-0.end-0.mb-n3.me-3(href='javascript:void(0)' id='addToCartButton' data-bs-toggle='modal' data-bs-target='#addToCartModal' data-bs-placement='top' data-bs-title='Add To Cart')
                                    i.ti.ti-basket.fs-4
                            .card-body.pt-3.p-4
                                h6.fw-semibold.fs-4= cate.name
                                ul.navbar-nav.flex-row.ms-auto.align-items-center.justify-content-end
                                    li.nav-item.dropdown
                                        //- .nav-link
                                        a#drop2.nav-icon-hover(href='#' data-bs-toggle='dropdown' aria-expanded='false')
                                            button.btn.btn-secondary(type='button') Tuỳ chọn
                                            .dropdown-menu.dropdown-menu-end.dropdown-menu-animate-up(aria-labelledby='drop2')
                                                .message-body
                                                    a.d-flex.align-items-center.gap-2.dropdown-item(href='javascript:void(0)')
                                                        i.ti.ti-eye-off.fs-6
                                                        p.mb-0.fs-3 Ẩn khỏi app
                                                    a.d-flex.align-items-center.gap-2.dropdown-item(href='javascript:void(0)')
                                                        i.ti.ti-edit.fs-6
                                                        p.mb-0.fs-3(class="updateCate" data-id=cate._id  data-bs-toggle="modal" data-bs-target="#updateCategoryModal") Sửa thông tin
                                                    //a.d-flex.align-items-center.gap-2.dropdown-item(href='javascript:void(0)')
                                                    //    i.ti.ti-trash.fs-6
                                                    //    p.mb-0.fs-3(class='deleteCate' data-id=cate._id data-name=cate.name data-bs-toggle="modal" data-bs-target="#confirmDeleteCate") Xoá thể loại
                                                    //a.btn.btn-outline-primary.mx-3.mt-2.d-block Updating..
        //- Start Pagination
        nav(aria-label='Page navigation example')
            ul.pagination.justify-content-end
                li.page-item.disabled
                    a.page-link(href='#' tabindex='-1') Previous
                li.page-item.active
                    a.page-link(href='#') 1
                li.page-item
                    a.page-link(href='#') 2
                li.page-item
                    a.page-link(href='#') 3
                li.page-item
                    a.page-link(href='#') Next
        //- End Pagination

        .py-6.px-6.text-center
            p.mb-0.fs-4
                | Design and Developed by&nbsp;
                a.pe-1.text-primary.text-decoration-underline(href='https://trinh-dien-203.onrender.com' target='_blank') STECH

    //- Modal Add Category
    div#addCategoryModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Thêm thể loại
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    form(action="/category/create", method="post"  enctype='multipart/form-data')
                        .mb-4
                            .form-group
                                label(for="imageCate") Hình ảnh
                                input#image(type="file" name="image" accept="image/*" required onchange='previewImagePlus(event, "image", "imageForm", "imagePreview")')
                        .mb-4
                            .form-group#imageForm(style='display: none;')
                                label.mt-1(for="progressCate") Preview
                                br
                                img#imagePreview(src='' alt='Image Preview'  style='width:150px;height:120px;')
                        .mb-4
                            .form-group(hidden)
                                label(for="progressCate") Tiến trình
                                p#progressCate
                        .mb-4
                            .form-group
                                label(for="nameCate") Tên thể loại
                                input#nameCate(type="text", name="name", class="form-control", placeholder="", aria-describedby="helpId" required)
                        .mb-4
                            .form-group
                                label(for="dateCate") Date
                                input#dateCate(type="datetime-local", name="create_time", class="form-control", placeholder="", aria-describedby="helpId")
                        .mt-4
                            .form-group
                                .modal-footer
                                    button.btn.btn-dark(type='button', data-bs-dismiss='modal') Huỷ
                                    button.btn.btn-primary(type='submit') Thêm

    //- Modal Update Category
    div#updateCategoryModal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Sửa thông tin thể loại
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    form(action="/stech.manager/update-category", method="post" enctype='multipart/form-data')
                        .mb-4
                            .form-group
                                label(for="dateCate") ID
                                input#idCateUpdate.idCateUpdate(type="text", name="idCate", class="form-control", placeholder="", aria-describedby="helpId" readonly)
                        .mb-1
                            .form-group
                                label(for="imageCate") Hình ảnh 
                                input#imageCateUpdate(type="file" name="image" accept="image/*" onchange='previewImagePlus(event, "imageCateUpdate", "imageFormNew", "imageNew")')
                        .mb-4.mt-1
                            .form-group
                                button.btn.btn-secondary.btn-sm(type='button' id='resetImage' style='display: none;') Reset image
                        .mb-4
                            .form-group#imageFormNew(style='display: block;')
                                label.mt-1(for="progressCate") Preview
                                br
                                div.flex
                                    a#imageTagNew(style='display: none;') Ảnh mới
                                    img#imageNew.imageNew( src='' alt='Image Preview new'  style='width:150px;height:120px;display: none;')
                                    a#imageTagOld(style='display: none;') Ảnh cũ
                                    img#imageOld.imageOld(src='' alt='Image preview olld'  style='width:150px;height:120px;')
                        .mb-4
                            .form-group(hidden)
                                label(for="progressCate") Tiến trình
                                p#_progressCate
                        .mb-4
                            .form-group
                                label(for="nameCate") Tên sản phẩm
                                input#nameCateUpdate.nameCateUpdate(type="text", name="name", class="form-control", placeholder="", aria-describedby="helpId" required)
                        .mb-4
                            .form-group
                                label(for="dateCate") Create time
                                input#dateCateUpdate.dateCateUpdate(type="text", name="date", class="form-control", placeholder="", aria-describedby="helpId" readonly)
                        .mb-4
                            .form-group
                                .modal-footer
                                    button.btn.btn-dark(type='button', data-bs-dismiss='modal') Huỷ
                                    button.btn.btn-primary(type='submit') Cập nhật
    //- Modal Confirm Delete
    #confirmDeleteCate.modal(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Bạn có chắc chắn muốn xoá !
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    div#nameCateDelete
                .modal-footer
                    button.btn.btn-dark(type='button' data-bs-dismiss='modal') Quay lại
                    button.btn.btn-danger(type='button' id='confirmDelete') Xoá
                            
    script(src='/js/category.js')
    script.
        function removeDiacritics(str) {
            return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
        }
        function searchCategory() {
            const query = removeDiacritics(document.getElementById('searchInput').value.toLowerCase());
            const candidateRows = document.querySelectorAll('.col-sm-6.col-xl-3');

            candidateRows.forEach(function (row) {
                const cateName = removeDiacritics(row.querySelector('.card-body.pt-3.p-4 h6').innerText.toLowerCase());

                // Nếu không có thông tin tìm kiếm hoặc tìm thấy kết quả, hiển thị lại dòng
                if (!query || cateName.includes(query)) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        }
