extends layout

block content
    .container-fluid
        .col-md-12
            .user-dashboard-info-box.table-responsive.mb-0.bg-white.p-4.shadow-sm
                table.table.manage-candidates-top.mb-0
                    thead
                        tr
                            th.col-4 Candidate Name
                            th.text-center Status
                            th.text-start.col-1  Action
                    tbody
                        each customer in customers
                            tr.candidates-list
                                td.title
                                    .thumb
                                        img.img-fluid(src=customer.avatar, alt=customer.avatar)
                                        a.bg-primary.rounded-circle.p-2.text-white.d-inline-flex.position-absolute.bottom-0.end-0.mb-n3.me-3(href='javascript:void(0)' id='addToCartButton' data-bs-toggle='modal' data-bs-target='#addToCartModal' data-bs-placement='top' data-bs-title='Add To Cart')
                                    .candidate-list-details
                                        .candidate-list-info
                                            .candidate-list-title
                                                h5.mb-0
                                                    a(href='#')=customer.full_name
                                            .candidate-list-option
                                                ul.list-unstyled
                                                    li(style="margin-right: 20px")
                                                        i.fas.fa-envelope.pr-1
                                                            span.fas(style="margin-left: 5px; font-size: 15px; color: #2d2d2d;")= customer.email
                                td
                                    p.text-muted.text-truncate.text-center
                                        | #{customer.status}
                                td
                                    ul.list-unstyled.mb-0.d-flex
                                        li
                                            a.text-primary(href='#' class='chatUser' title='' data-id=customer._id)
                                                i.bx.bx-message-dots
                                        li
                                            a.text-primary(class='EditCus' data-id=customer._id,data-email=customer.email,data-password=customer.password,data-name=customer.full_name,data-phone=customer.phone_number  data-bs-toggle="modal" data-bs-target="#UpdateCustomerModal")
                                                i.bx.bx-edit-alt(style='color:#6b7aec')
                                        li
                                            a.text-danger(class="banCus" id="banCustomerBtn" data-id=customer._id  data-bs-toggle="modal" data-bs-target="#banCustomerModal")
                                                i.fa.fa-ban


        .py-6.px-6.text-center
            p.mb-0.fs-4
                | Design and Developed by&nbsp;
                a.pe-1.text-primary.text-decoration-underline(href='https://trinh-dien-203.onrender.com' target='_blank') STECH
        //Modal add pro duct

    #banCustomerModal.modal(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Warning!
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    p Bạn có chắc chắn muốn chặn người dùng  này.
                .modal-footer
                    form(action="/stech.manager/banCustomer" method="post")
                        .mb-3.d-none
                            input#idCustomerBan.form-control(name='customerId', type='text', aria-describedby='textHelp')
                        button.btn.btn-dark(type='button' data-bs-dismiss='modal') Quay lại
                        button.btn.btn-danger(type='submit' id='banCustomer') Đồng ý

    div#CustomerModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="userModalLabel", aria-hidden="true")
        .modal-dialog
            form(method="post" action="/stech.manager/AddCustomer" enctype='multipart/form-data')
                .modal-content
                    .modal-header
                        h5.modal-title Thêm người dùng
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        .mb-3
                            label.form-label(for='email') Email
                            input#email.form-control(type='text' name="email" aria-describedby='textHelp')
                        .mb-3
                            label.form-label(for='password') Password
                            input#password.form-control(type='text' name="password" aria-describedby='textHelp')
                        .mb-3
                            label.form-label(for='full_name') Name
                            input#full_name.form-control(type='text' name="full_name"  aria-describedby='textHelp')
                        .mb-3
                            label.form-label(for='phone_number') Phone
                            input#phone_number.form-control(type='text' name="phone_number" aria-describedby='textHelp')
                        .mb-3
                            .form-group
                                label(for="avatar") Hình ảnh
                                input#avatar(type="file", name="avatar", accept="image/*")
                        button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close
                        button.btn.btn-primary#addEmployeeButton(type="submit") Add customer

    div#UpdateCustomerModal.modal.fade
        .modal-dialog
            form(method="post" action="/stech.manager/UpdateCustomer" enctype='multipart/form-data')
                .modal-content
                    .modal-header
                        h5.modal-title Sửa nhân viên
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        .mb-2.d-none
                            .form-group
                                label ID
                                input#idCusUp( type="text", name="idCustomer", class="form-control", placeholder="", aria-describedby="helpId" readonly)
                        .mb-3
                            label.form-label(for='email') Email
                            input#emailUp.form-control(type='email' name="email" aria-describedby='textHelp' required)
                        .mb-3
                            label.form-label(for='password') Password
                            input#passwordUp.form-control(type='text' name="password" aria-describedby='textHelp' required)
                        .mb-3
                            label.form-label(for='full_name') Name
                            input#full_nameUp.form-control(type='text' name="full_name"  aria-describedby='textHelp' required)
                        .mb-3
                            label.form-label(for='phone_number') Phone
                            input#phone_numberUp.form-control(type='text' name="phone_number" aria-describedby='textHelp' required)
                        .mb-3
                            .form-group
                                label(for="avatar") Hình ảnh
                                input#avatarUp(type="file", name="avatar", accept="image/*")
                        button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close
                        button.btn.btn-primary#updateEmployeeButton(type="submit") Update Customer

    script(src='/js/customer.js')
